{% extends 'base.html' %}

{% block content %}

    <hr>
    {% if messages %}
        {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <h3 style="text-align:center ;font-family: 'Stabillo Medium'; font-size:300%;"> Ultimos productos </h3>

        <div class="columns is-multiline">
    {% for producto in latest_products %}

        <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ producto.images.first.image.url|default:'https://via.placeholder.com/128' }}" alt="Imagen no disponible">
                            </figure>
                        </div>
                        <div class="card-content">
                            <h6>
                                <a href="{% url 'product-detail' producto.pk %}">
                                    {{ producto.nombre }}
                                </a>
                            </h6>
                            <p>$ {{ producto.precio }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="content">
                    &nbsp
                    <h6>Aun no hay productos disponibles.</h6>
                </div>
            {% endfor %}
        </div>

    <div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFZ4GZNuOpaFw2WyXmCu2206frILNchUGw8IicdvuFDqvwttGqBXtZBt7Z2DgHZO8eoN0&usqp=CAU" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Luisa Campos</strong> <small>@lucampos</small> <small>31m</small>
          <br>
          Lo recomiendo muchisimo, todas las compras son a tiempo y con garantía. No te arrepentiras.¡100/100!
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>

    <hr>
    <ul>
      <li><a class="button is-info" href="{% url 'product-list' %}">Ver Lista de Productos Completa</a></li>
    </ul>
{% endblock %}